fastapi==0.111.0
uvicorn==0.23.2
torch==2.5.0
torchvision==0.20.0
aiofiles==23.2.1
python-multipart>=0.0.7
numpy==1.26.4
Pillow==10.1.0
loguru==0.7.3
tqdm==4.66.1
opencv-python-headless==4.8.1.78
ffmpeg-python==0.2.0
huggingface_hub==0.18.1
